# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*yolo
yolo*
/SRAS-frontend/node_modules
/SRAS-live-feed/venv
/SRAS-live-feed/yolov8*
/SRAS-live-feed/DemoVideos
/SRAS-mock-server/node_modules
/SRAS-gateway/node_modules
/SRAS-mail-server/node_modules
/SRAS-db/node_modules
/SRAS-db/package-lock.json
/SRAS-live-feed/temp.py
/SRAS-mail-server/node_modules